.suika {
  .tool-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    margin: 0 2px;
    border-radius: 4px;
    width: 36px;
    height: 32px;
    cursor: pointer;

    .tooltip {
      display: none;
      position: absolute;
      bottom: -40px;

      border-radius: 4px;
      padding: 8px 12px;

      color: #fff;
      font-size: 12px;
      background-color: #333333ee;
      z-index: 2;
    }

    &:hover {
      background-color: #f2f2f2;
      .tooltip {
        display: block;
      }
    }
    &.active {
      background-color: #0f8fff;
      svg * {
        stroke: #fff;
      }
    }
  }
}
