.suika {
  .element-info-attrs-row {
    display: flex;
    margin-left: 8px;
    .field {
      display: flex;

      box-sizing: border-box;
      border: 1px solid transparent;
      margin: 2px 4px;
      border-radius: 2px;
      width: 100px;
      text-align: center;
      &:hover {
        border-color: #e6e6e6;
      }
      &:focus-within {
        border-color: #0d99ff;
        outline: 1px solid #0d99ff;
      }
      span {
        display: block;
        height: 28px;
        width: 28px;
        line-height: 28px;
        text-align: center;
        color: #b3b3b3;
      }
    }
  }
}
