.sk-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;

  font-size: 14px;

  cursor: pointer;
  user-select: none;

  &.sk-select-no-border {
    border: none;
  }
}

.sk-select-suffix-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk-select-popover {
  padding: 8px 0;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 120px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
    0px 4px 10px rgba(0, 0, 0, 0.1);
  user-select: none;

  .sk-select-popover-item {
    display: flex;
    align-items: center;
    padding: 0 4px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    cursor: pointer;

    .sk-select-popover-item-icon {
      margin-right: 4px;
      font-size: 0;
      line-height: 0;
      width: 20px;
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:hover {
      color: #fff;
      background-color: #0f8fff;
    }
  }
}
