.suika {
  .fill-item {
    position: relative;
    display: flex;
    margin-left: 16px;
    .color-picker-popover {
      position: absolute;
      left: -238px;
      top: -30px;
    }
    .color-block {
      width: 16px;
      height: 16px;
    }
  }
}