.suika {
  .info-card {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e2e2e2;
    .info-card-title {
      padding-left: 16px;
      height: 32px;
      line-height: 32px;

      color: #333;
      font-weight: bold;
      font-size: 12px;
    }
  }
}
