.suika {
  .suika-context-menu-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 60;
  }

  .suika-context-menu {
    position: fixed;
    border-radius: 2px;
    padding: 8px 0;
    width: 200px;
    z-index: 62;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

    background-color: #fff;
  }
}
