.suika {
  .suika-context-menu-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
  }

  .suika-context-menu {
    position: fixed;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 0;
    width: 200px;
    z-index: 25;

    box-shadow: 0px 5px 7px rgba(0,0,0,0.15);
    background-color: #eee;
  }
}