.suika {
  .zoom-actions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;

    .value {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      width: 90px;
      height: 32px;
      line-height: 32px;
      font-size: 14px;
      text-align: center;

      cursor: pointer;
    }

    .popover {
      position: absolute;
      top: 50px;
      right: 2px;

      padding: 8px 0;
      border: 1px solid #eee;
      border-radius: 4px;
      width: 160px;
      z-index: 1;
      background-color: #fff;
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05),
        0px 4px 10px rgba(0, 0, 0, 0.1);

      .item {
        padding: 0 20px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;

        &:hover {
          color: #fff;
          background-color: #0f8fff;
        }
      }
    }
  }
}
