.suika {
  .layer-panel {
    box-sizing: border-box;
    width: 100%;
    overflow: auto;

    // hide scrollbar by default
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE/Edge
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    // show scrollbar when hover
    &:hover {
      scrollbar-width: thin; // Firefox
      -ms-overflow-style: auto; // IE/Edge
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        &:hover {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}
