.suika-paint-picker {
  border-radius: 4px;
  background-color: #fff;

  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 10px 24px rgba(0, 0, 0, 0.18),
    0px 2px 5px rgba(0, 0, 0, 0.15), 0px 2px 14px rgba(0, 0, 0, 0.15),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.2);

  .sketch-picker {
    box-shadow: none !important;
  }

  .paint-picker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 10px 0 10px;
  }

  .suika-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
