.suika {
  .suika-custom-ruler-input-box {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 4px;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    text-align: center;

    background-color: #f5f5f5;

    &:hover {
      border-color: #e6e6e6;
    }
    &:focus-within {
      border-color: #0d99ff;
    }

    .suika-custom-input-prefix {
      flex-shrink: 0;
    }
  }

  input.custom-rule-input {
    border: none;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    background-color: transparent;
  }
}
