.suika {
  .sk-layer-item {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid transparent;
    padding-left: 16px;
    padding-right: 4px;
    height: 32px;
    font-size: 12px;
    color: #333;

    white-space: nowrap;
    overflow: hidden;

    &.sk-hidden {
      color: rgba(0, 0, 0, 0.3);
    }

    &:hover:not(.sk-editing),
    &.sk-hover {
      border-color: #0f8fff;
      .sk-action-btn {
        visibility: visible;
      }
    }

    &.sk-editing {
      .sk-layer-item-actions {
        display: none;
      }
    }

    &.sk-active {
      background-color: #e1f2ff;
      border-color: transparent;
    }

    .sk-layout-name {
      padding: 0 4px;
      border: 1px solid transparent;
      font-family: Arial, sans-serif;
    }

    input {
      box-sizing: border-box;

      padding: 0 4px;
      width: 100%;
      height: 22px;
      font-size: 12px;
      line-height: 12px;

      font-family: Arial, sans-serif;
      color: #333;
      border: 1px solid #0d99ff;
      outline: 1px solid #0d99ff;

      cursor: default;
    }

    .sk-layer-item-actions {
      margin-left: auto;
      padding-right: 4px;
      display: flex;
      align-items: center;
      height: 20px;

      .sk-action-btn {
        visibility: hidden;
        margin-right: 4px;
        width: 16px;
        height: 16px;
        font-size: 0;
      }
    }
  }
}
