.suika {
  .element-info-attrs-row {
    display: flex;
    margin-left: 8px;

    .suika-info-attrs-label {
      display: block;
      height: 28px;
      width: 28px;
      line-height: 28px;
      text-align: center;
      color: #b3b3b3;
    }
  }
}
