.suika {
  .suika-tool-bar {
    position: fixed;
    left: 24px;
    top: 24px;

    button {
      margin-right: 4px;
      color: #555;
      &.active {
        color: #000;
        font-weight: bold;
      }
    }
  }
}